#btn-theme {
    margin: 0;
    padding: 4px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
}

#btn-theme:hover {
    scale: 1.1;
}

#btn-theme img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main {
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--input-text) !important;
  transition: background-color 9999s ease-in-out 0s;
}
