#btn-theme {
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            border-radius: 50%;
            background: transparent;
        }
        #btn-theme:hover {
            scale: 1.1;
        }
        #btn-theme img {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        main {
            position: relative;
        }